@font-face {
    font-family: 'inter';
    src: url('/fonts/Inter-VariableFont_slnt,wght.woff') format('woff');
}

body,
html {
    min-width: 100%;
    height: 100%;
    font-family: inter;     
}

.user-profile {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 5px solid #C8102E;
    text-transform:uppercase;
    display: inline-block;
    line-height: 40px;
 } /* currently using .circle */


.circle {
    height: 50px;
    width: 50px;
    border: 5px solid #c8102e;
    border-radius: 50%;
}

.circle .inner {
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 1.5em;
}

/* override 
.navbar-default {
    background-color: #253746; 
    color:#fff;
}
*/


.navbar-toggle {
    float: left !important;
}
.navbar-right {
    margin-right: -10px !important;
}

h1, h2, h3, h4, h5 {
    font-family: inter;
    font-weight: 100;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

a {
    color: #0072bc;
}

    a:hover,
    a:focus,
    a:active {
        color: #00629f;
        text-decoration: none;
    }

#wrapper {
    height: 100%;
    min-height: 100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 300px;
    }

.menu-toggle {
    color: #888;
}

    .menu-toggle:hover,
    .menu-toggle:focus,
    .menu-toggle:active {
        color: #333;
    }

.menu-toggle-collapsed {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1000;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #414042;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #sidebar-wrapper .bc-branding {
        text-indent: 0;
        line-height: 0;
        text-align: center;
    }

        #sidebar-wrapper .bc-branding img {
            max-width: 200px;
        }

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    min-height: 100%;
}

    #page-content-wrapper .company-logo {
        max-height: 40px;
        margin-left: 10px;
    }

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
    margin-bottom: -80px;
    padding-bottom: 80px;
}

.inner-content {
    padding: 20px;
}

.company-branding {
    background: #eee;
}

.right-column {
    text-align: right;
}

@media(max-width:768px) {
    .right-column {
        text-align: left;
    }
}

.sidebar-nav {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 -80px 0;
    padding: 0 0 80px 0;
    list-style: none;
    font-size: 15px;
    color: rgba(255,255,255,0.8);
}

    .sidebar-nav li {
        line-height: 40px;
    }

        .sidebar-nav li em {
            padding-right: 10px;
            line-height: 1;
            display: inline-block;
        }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: rgba(255,255,255,0.9);
        }

            .sidebar-nav li a.unlocked {
                color: #9bc5e8;
            }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

        .sidebar-nav li.active a {
            color: #7bafdf;
        }

        .sidebar-nav li.admin-return {
            text-indent: 0;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            background: #7bafdf;
            padding: 0;
        }

            .sidebar-nav li.admin-return a {
                padding: 8px 0;
                color: #fff;
            }

                .sidebar-nav li.admin-return a:hover,
                .sidebar-nav li.admin-return a:focus,
                .sidebar-nav li.admin-return a:active {
                    color: #fff;
                    background: #003c7e;
                }

        .sidebar-nav li.regular a {
            padding-left: 10px;
            color: #9bc5e8;
            line-height: 20px;
            padding-bottom: 10px;
            padding-top: 10px;
        }

            .sidebar-nav li.regular a.active,
            .sidebar-nav li.regular a:hover,
            .sidebar-nav li.regular a:focus,
            .sidebar-nav li.regular a:active {
                color: #fff;
                background: rgba(255,255,255,0.1);
            }

    .sidebar-nav > .sidebar-brand {
        font-size: 14px;
        text-align: center;
        padding: 20px 0;
        background: #82898a;
        text-indent: 0;
        border-bottom: 4px solid #7bafdf;
        margin-bottom: 20px;
    }

        .sidebar-nav .sidebar-brand .employee-id {
            margin-top: -20px;
            font-size: 12px;
        }

        .sidebar-nav > .sidebar-brand h1 {
            font-size: 20px;
            color: #fff;
            padding: 10px 0;
            margin: 0;
        }

        .sidebar-nav > .sidebar-brand a {
            color: #7bafdf;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #1d407c;
                background: none;
            }

        .sidebar-nav > .sidebar-brand li {
            text-indent: 0;
            line-height: normal;
        }

        .sidebar-nav > .sidebar-brand .fa-stack-1x {
            color: #fff; /*top: 10px;*/
        }

    .sidebar-nav li {
        padding-left: 20px;
    }

    .sidebar-nav li.navlink {
        line-height: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

@media(min-width:768px) {
    #wrapper {
        padding-left: 300px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 300px;
        overflow: auto;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
        overflow: hidden;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#wrapper.alwayshide {
    padding-left: 0px;
}

    #wrapper.alwayshide #sidebar-wrapper {
        width: 0;
        overflow: hidden;
    }

    #wrapper.alwayshide #page-content-wrapper {
        position: relative;
    }

.video, .avatar {
    text-align: center;
}

    .video object,
    .video iframe,
    .avatar object,
    .avatar iframe {
        width: 100%;
        height: 180px;
    }

img {
    max-width: 100%;
}

.alert {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
}

.alert-warning {
    background: #f47920;
    color: #fff;
}

.alert-danger {
    background: red;
    color: #fff;
}

.text-danger {
    color: red;
}

.text-warning {
    color: #f47920;
}

.text-bold {
    font-weight: 600;
}

.margin-small-top {
    margin-top: 10px;
}

.margin-small-bottom {
    margin-bottom: 10px;
}

.margin-medium-top {
    margin-top: 20px;
}

.margin-large-top {
    margin-top: 30px;
}

.margin-large-bottom {
    margin-bottom: 30px;
}

.padding-small {
    padding: 10px;
}

.padding-small-top {
    padding-top: 10px;
}

.padding-small-bottom {
    padding-bottom: 10px;
}

.padding-small-left {
    padding-left: 10px;
}

.padding-small-right {
    padding-right: 10px;
}

.padding-medium {
    padding: 20px;
}

.padding-medium-top {
    padding-top: 20px;
}

.padding-medium-bottom {
    padding-bottom: 20px;
}

.padding-medium-left {
    padding-left: 20px;
}

.padding-medium-right {
    padding-right: 20px;
}

.padding-large {
    padding: 30px;
}

.border-grey-top {
    border-top: solid 1px #ddd;
}

.border-grey-bottom {
    border-bottom: solid 1px #ddd;
}

.border-grey-right {
    border-right: solid 1px #ddd;
}

.border-grey-left {
    border-left: solid 1px #ddd;
}

.btn {
    padding: 0px 4em;
    line-height: 3em;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /*border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px;*/
}

@media(max-width:768px) {
    .btn {
        padding: 0px 1.5em;
        line-height: 2.5em;
    }
}

.btn-sm {
    line-height: 2.5em;
    padding: 0px 2.5em;
}

.btn-lg {
    padding: 0px 4em;
    line-height: 2.2em;
}

.btn-default {
    background: #ddd;
    border-color: #ddd;
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active {
        background: #ccc;
        border-color: #ccc;
    }

.btn-primary {
    background: #00629f;
    border-color: #00629f;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background: #003c7f;
        border-color: #003c7f;
    }

.btn-info {
    background: #9bc5e8;
    border-color: #9bc5e8;
}

    .btn-info:hover,
    .btn-info:focus,
    .btn-info:active {
        background: #7bafdf;
        border-color: #7bafdf;
    }

.btn-warning {
    background: #f47920;
    border-color: #f47920;
}

    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active {
        background: #f79a42;
        border-color: #f79a42;
    }

.control-label {
    font-weight: normal;
}

.form-control {
    font-size: 16px;
    height: auto;
    padding: 8px 12px;
}

.table tbody tr td {
    border-bottom: 1px solid #ddd;
}

.requiredfieldlegend {
    font-size: 14px;
}

.panel-default {
    border-color: #ddd;
}

    .panel-default .panel-heading {
        background: #eee;
        color: #333 !important;
        border-color: #ddd;
    }

.panel-title {
    font-family: proxima-nova;
    font-family: 600;
}

.panel-heading h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

    .panel-heading h3 a {
        color: #333;
    }

        .panel-heading h3 a i {
            color: #f47920;
        }

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

.panel-info {
    border-color: #7bafdf;
}

    .panel-info .panel-heading {
        background-color: #7bafdf;
        border-color: #7bafdf;
        color: #fff;
        font-size: 18px;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }

        .panel-info .panel-heading a,
        .panel-info .panel-heading a:after {
            color: #fff;
        }

.panel-primary {
    border-color: #eee;
}

    .panel-primary .panel-heading {
        background-color: #00629f;
        color: #fff;
        font-size: 18px;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }

        .panel-primary .panel-heading a,
        .panel-primary .panel-heading a:after {
            color: #fff;
        }

.panel-wizard {
    border: none;
    background: #fff;
    color: #333;
    box-shadow: none;
}

    .panel-wizard .panel-heading {
        background: #fff;
        border-color: #ddd;
        padding-left: 0;
        padding-right: 0;
        border-bottom-width: 3px;
    }

    .panel-wizard .panel-body {
        padding-left: 0;
        padding-right: 0;
    }

/* election css */
.election-dependent-container input[type=checkbox],
.election-dependent-life input[type=checkbox] {
    display: none;
}
    /* to hide the checkbox itself */

    .election-dependent-container input[type=checkbox] + label:before,
    .election-dependent-life input[type=checkbox] + label:before {
        font-family: FontAwesome;
        display: inline-block;
        color: #333;
        content: "\f096";
        letter-spacing: 10px;
    }

    .election-dependent-container input[type=checkbox]:checked + label:before,
    .election-dependent-life input[type=checkbox]:checked + label:before {
        content: "\f046";
        letter-spacing: 5px;
    }
/* checked icon */

.election-dependent-life span {
    display: inline-block;
}

.election-dependent-container span {
    display: inline-block;
    padding-right: 20px;
}

.election-dependent-container label {
    color: #333;
    font-weight: normal;
    font-size: 18px;
}

.election-dependent-life label {
    color: #333;
    font-weight: normal;
    font-size: 18px;
}

.election-dependent-container label.disabled {
    color: red;
}

.election-dependent-container label,
.election-dependent-container input[type=checkbox] + label:before,
.election-dependent-life label,
.election-dependent-life input[type=checkbox] + label:before {
    cursor: pointer;
    font-weight: normal;
    vertical-align: middle;
}

.election-dependent-container input[type=checkbox] + label:before,
.election-dependent-life input[type=checkbox] + label:before {
    font-size: 24px;
    color: #0094cf;
}
.election-dependent-container input[type=checkbox]:disabled + label:before {
    font-size: 24px;
    color: lightgrey;
}
.election-plan-container {
    border-color: #fff !important;
    border-radius: 0 !important;
    box-shadow: none;
}

    .election-plan-container .panel-heading {
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 600;
        background: #eee !important;
        border: 1px solid #ddd !important;
        border-radius: 0 !important;
    }

    .election-plan-container .panel-body {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
        border-left: solid 1px #ddd;
        border-right: solid 1px #ddd;
    }

    .election-plan-container .panel-footer {
        border: none;
    }

    .election-plan-container .plan-best-choice img {
        position: absolute;
        right: 0;
        top: -8px;
        z-index: 1;
        max-height: 60px;
    }

    .election-plan-container .plan-best-choice .panel-title {
        padding-right: 40px;
    }

.best-choice-image {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 60px;
    height: 60px;
}

@media (max-width: 768px) {
    .election-plan-container .plan-best-choice img {
        top: -18px;
    }

    .election-plan-container .panel-title {
        text-align: left !important;
    }

    .election-plan-container .border-grey-right {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
}

.election-plan-container:hover {
    box-shadow: 0px 0px 6px 1px #333;
}

.election-plan-container.active {
    box-shadow: 0px 0px 6px 1px #0094cf;
}

.election-plan-container .panel-title {
    text-align: center;
    text-transform: uppercase;
}

.election-plan-container .background-grey {
    background: #f2f2f2;
}

.election-plan-container table tr td:first-child {
    background: #f2f2f2;
}

.election-plan-container img {
    max-width: 100%;
}

.election-plan-container .plan-name {
    font-weight: 600;
    padding-bottom: 5px;
}

.election-plan-container .plan-cost-amount {
    font-size: 35px;
    color: #5cb85c;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.election-plan-container .plan-tax-type {
    font-size: 13px;
    display: inline-block;
}

.election-plan-container.active .plan-cost-amount {
    color: #f47920;
}

.election-plan-container .plan-cost-period {
    font-size: 13px;
    color: #666;
}

.election-plan-container .plan-effect-date {
    padding-top: 10px;
}

.election-plan-container .plan-provider-name {
    font-weight: 600;
    padding-top: 10px;
}

.plan-provider-logo img {
    max-width: 100%;
    max-height: 60px;
}

.election-plan-container .plan-outline {
    font-size: 14px;
    padding-top: 5px;
}

.election-plan-container .plan-waive {
    font-size: 16px;
    font-weight: 600;
}

.election-plan-container .plan-contribution-tip {
    font-size: 14px;
}

.election-plan-container .btn {
    border-radius: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.election-plan-container .btn-active {
    background: #f47920 !important;
    border-color: #f47920 !important;
}

.election-plan-container .btn i {
    padding-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}

.election-plan-container .panel-footer {
    padding-top: 0;
    padding-bottom: 0;
}

    .election-plan-container .panel-footer .row div {
        padding: 0 !important;
        margin: 0 !important;
    }

    .election-plan-container .panel-footer .btn {
        width: 100%;
        border-radius: 0;
    }

@media (max-width: 768px) {
    .election-plan-container .plan-cost-amount {
        font-size: 22px;
        line-height: normal;
    }

    .election-plan-container img {
        margin-top: 10px;
    }

    .election-plan-container .plan-waive {
        font-size: 16px;
    }

    .election-plan-container .panel-body .col-lg-6 {
        border-bottom: 1px solid #ddd;
        border-left: none;
        border-right: none;
    }
}

.election-summary {
    border-radius: 0;
}

    .election-summary .panel-heading {
        border-radius: 0;
    }

    .election-summary .panel-body {
        background: #fff;
    }

    .election-summary table {
        width: 100%;
        margin: 0;
        padding: 0;
    }

        .election-summary table tr td {
            border-top: 1px solid #eee;
            padding: 5px 0;
            vertical-align: top;
        }

            .election-summary table tr td:last-child {
                width: 75px;
            }

        .election-summary table tr:first-child td {
            border-top: none;
        }

        .election-summary table tr td:last-child {
            text-align: right;
        }

        .election-summary table tr:last-child td {
            border-top: 2px solid #eee;
            font-weight: 600;
            text-align: right;
        }

/*bcEnroll classic styles*/
.udf-label-left-align {
    text-align: left !important;
    padding-top: 0px !important;
}

.udf-message-label {
    font-weight: 700;
}

.slider-overgi .irs-bar,
.slider-overgi .irs-bar-edge {
    border-color: #e50505;
    background: linear-gradient(#f67a7a, #e50505);
}

.slider-overgi .irs-single {
    background-color: #e50505;
}

.form-horizontal .control-label {
    text-align: left;
}

.language-selection {
    display: inline-block;
    margin-top: 10px;
    margin-right: 7px;
}

.radio-inline {
    display: block;
}

    .radio-inline + .radio-inline {
        margin-left: 0;
    }

.well-sm {
    font-size: 14px;
}

.waiverBox, .waiverBox:focus {
    background: #aaaaaa;
    border-color: #aaaaaa;
}

.waiverBox:hover {
    background: #888888;
    border-color: #888888;
}

.disabledGreyBackground {
    background: lightgrey;
}
/*Copied from admin-layout  modal layout*/
.modal-header {
    background: #eee;
    border-top-left-radius: 6px; border-top-right-radius: 6px;
    -moz-border-top-left-radius: 6px; -moz-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px;    
}

.modal-footer {
    background: #fff; 
    border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-left-radius: 6px; -moz-border-bottom-right-radius: 6px;
}

.benefitCostSummary .minusDescription {
    color: #666;
    font-size: 12px;
}

.consent-panels .btn i {
    padding-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}

.consent-container .panel-body {
    padding: 15px;
}

.consent-container .red {
    color: red;
}

.consentText h4:not(:first-of-type) {
    margin-top: 25px;
}